.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modal-pencere {
  background-color: white;
  color: purple;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
  border-radius: 10px;
}

/* Slayt Gösterisi Stilleri */
.slideshow-container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.resimslayt {
  display: flex;
  justify-content: center;
  margin: 5px;
  position: relative;
}

.resimslayt img {
  width: 100%;
  max-width: 800px;
  height: auto;
  object-fit: contain;
}

/* Önceki ve Sonraki Düğmeler */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  user-select: none;
  transform: translateY(-50%);
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Kapatma Düğmesi */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}